/*
// - Elements
//  =================================================================
//   Include styles only for HTML tags here.
//   These styles set the base or default behavior of HTML elements.
//
//  =================================================================
*/

// - Page -----------------------------------------------------------

html {
    font-size: $root-font-size;
    min-height: 100%;
}

body {
	color: $site-font-color;
	font-size: $site-font-size;
	line-height: $site-line-height;
	font-weight: $regular-font;
	font-family: $default-font-family;
}


// - Headings --------------------------------------------------------

h1, h2, h3, h4, h5, h6 { }

h1 { }

h2 { }

h3 { }

h4 { }

h5 { }

h6 { }


//  A better looking default horizontal rule. ------------------------

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


// Allow only vertical resizing of textareas. ------------------------

textarea {
    resize: vertical;
}


/*
 * Remove text-shadow in selection highlight. ------------------------
 * Customize the background color to match your design.
 */

::selection {
    @if $selection-color { background: $selection-color; }
    text-shadow: none;
}



/*
 * References:
 * 1. https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 */