
// - Settings


// - Colors:

$site-font-color: #222; 		// Site font color
$selection-color: #B3D4FD;		// Text selection color
$link-color: #1EAEDB;			// Link color
$link-color-hover: #0FA0CE;		// Hover link color


// - Estructure

$site-width: 75em !default;		// Site width
$outer-margin: 0 !default;		// Site outer margins


// - Typography

$root-font-size: 100%;			
$site-font-size: 1em;			
$site-line-height: 1.5em;
$default-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$thin-font: 100;
$extralight-font: 200;
$light-font: 300;
$regular-font: 400;
$medium-font: 500;
$semibold-font: 600;
$bold-font: 700;
$extrabold-font: 800;
$black-font: 900;


// - Widths
//   Ref. - Why use em for media query https://zellwk.com/blog/media-query-units/
$smallest-width: 20em; // 320px
$very-small-width: 30em; // 480px
$small-width: 48em; // 768px
$medium-width: 60em; // 960px
$large-width: 75em;  // 1200px
$very-large-width: 100em; // 1600px


// - Grid Settings

$use-flexboxgrid: true;				// Use Flexbox based grid

$grid-columns: 12 !default;			// Set the number of columns you want to use on your layout.
$gutter-width: 1rem !default;		// Set the gutter between columns.
$grid-outer-margin: 2rem !default;	// Set a margin for the container sides.
$grid-base-name: xs;				// Name for grid base class

// Create or remove breakpoints for your project
// Syntax: name (for class) - screen size (for media queries) - grid container (for grid wrapper class).
$grid-breakpoints:
  sm $small-width $small-width/1em + $gutter-width, 
  md $medium-width $medium-width/1em + $gutter-width,
  lg $large-width $large-width/1em + $gutter-width !default;
$grid-max-width: $site-width;

// Grid as "SCSS Placeholder" 
// Use in case you just want to @extend your styles without generate the entire grid system
// Used as abstractions can be useful to make a small main.css file. For example:
// 		<div class"my_box1 row></div>
// 		<div class"my_box2 row></div>
// 		<div class"my_box3 row></div>
// It can be useful to style in this way: .my_box1, .my_box2, my_box3 { @extend %row; }
// And remove the "row" class in the HTML file.
$grid-as-placeholder: false !default;




